In [1]:
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

# Q1. Who scored the highest marks in the subject B?

In [28]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    print(name, marks_in_B)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

In [21]:
student_with_marks_in_B = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    student_with_marks_in_B.append([marks_in_B,name])

In [5]:
student_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [6]:
sorted(student_with_marks_in_B)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

In [7]:
sorted(student_with_marks_in_B)[-1][1]

'Gyan'

Ans. Gyan scored the highest marks in the subject B

# Q2. What is the average marks scored in the subject C?

In [63]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_C = student[1][2]
    
    print(marks_in_C)

45
34
13
23
25

# Q3. Who scored the highest percentage of marks?

In [48]:
for student in student_marks[1:]:
    name = student[0]
    overall_sort = sorted(student[1],reverse = True)
    total = sum(overall_sort)
    percentage = total/500*100
    
    print(name,overall_sort,total,percentage)

Ankit [63, 55, 45, 41, 34] 238 47.599999999999994
Aravind [53, 44, 42, 34, 23] 196 39.2
Lakshay [67, 54, 32, 23, 13] 189 37.8
Gyan [82, 63, 34, 23, 23] 225 45.0
Pranav [56, 56, 25, 23, 21] 181 36.199999999999996

Ans. Ankit scored the highest percentage of marks

# Q4. If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?

In [60]:
for student in student_marks[1:]:
    name = student[0]
    overall_sort = sorted(student[1],reverse = True)
    total = sum(overall_sort)-overall_sort[4]
    percentage = total/400*100
    
    print(name,overall_sort,total,percentage)

Ankit [63, 55, 45, 41, 34] 204 51.0
Aravind [53, 44, 42, 34, 23] 173 43.25
Lakshay [67, 54, 32, 23, 13] 176 44.0
Gyan [82, 63, 34, 23, 23] 202 50.5
Pranav [56, 56, 25, 23, 21] 160 40.0

Ans. In top 4 subject, Ankit scored the highest percentage of marks.